{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Block title -->
{% block title %} ADMIN {% endblock %}

<!-- Block navbar content -->
{% block nav-content %}
<i class="fas fa-key"></i>&nbsp;&nbsp; ADMIN PANEL
{% endblock %}

<!-- Login button -->
{% block nav-btn %}
<a href="{% url 'frontend' %}" class="btn btn-sm text-light" id="btn-nav">HOME</a>
{% endblock %}

<!-- Block footer -->
{% block footer %} style="color: #d3d3d3;" {% endblock %}

<!-- Page content -->
{% block content %} 
<div class="container card p-3 border-dark mt-5" style="width: 30%; border-radius:15px;">
    <!-- Title -->
    <div class="text-center" style="font-size: 1.5rem; font-weight: bold; ">RESTRICTED ACCESS</div>
    <hr>
    <!-- Form -->
    <form method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="w-100 btn btn-secondary">ADMIN LOGIN</button>
    </form>
</div>
{% endblock content %}