{% extends 'base.html' %} {% load crispy_forms_tags %}

<!-- Block title -->
{% block title %} ADMIN PANEL{% endblock %}

<!-- Logout button -->
{% block nav-btn %}
<a href="{% url 'logout' %}" class="btn btn-sm text-light" id="btn-nav"
  >LOGOUT</a
>
{% endblock %}

<!-- Block footer -->
{% block footer %} style="color: #ff7f7f;" {% endblock %}

<!-- Block navbar content -->
{% block nav-content %}
<i class="fa-solid fa-unlock-keyhole"></i>&nbsp;&nbsp; PREDICTED RESULTS
{%endblock %}

<!-- Page content -->
{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow">
        <div class="card-body">
      <table class="table border border-2 p-2">
        <thead>
            <tr>
                <th scope="col">Software Name</th>
                <th scope="col">License Key</th>
                <th scope="col">Hash Value</th>
                <th scope="col">Branch Count</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for data in pred_soft %}
            <tr>
                <td scope="row">{{data.softwarename}}</td>
                <td>{{data.licensekey}}</td>
                <td>{{data.Hashvalue}}</td>
                <td>{{data.branchCount}}</td>
                <td>{{data.Predictions}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
