{% extends 'base.html' %}

<!-- Block title -->
{% block title %} HOME PAGE{% endblock %}

<!-- Page content -->
{% block content %}
<div class="container">
  <div class="row g-3 mt-4">
    {% if user.is_authenticated %}
    <h2>Hello, {{user.username}}</h2>
    {% endif%}

    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">SOFTWARE MANUFACTURER</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">SOFTWARE VENDOR</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">THE END USER</div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
