{% extends 'base.html' %}
{% load static %}

<!-- Block title -->
{% block title %} USER REGISTRATION {% endblock %}

<!-- Page content -->
{% block content %}
 <div class='container mt-4'>
    {% for message in messages %}
    <h3 class="text-success">{{message}}</h3>
    {% endfor %}
</div>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow">
        <div class="card-body">
            <form action="register" method="post" class="py-3">
            {% csrf_token %}
          
            <input type="text" class="form-control mb-3" name="first_name" placeholder="First Name">
            <input type="text" class="form-control mb-3" name="last_name" placeholder="Last Name">
            <input type="text" class="form-control mb-3" name="username" placeholder="Username">
            <input type="text" class="form-control mb-3" name="email" placeholder="Email">
            <input type="password" class="form-control mb-3" name="password1" placeholder="Password">
            <input type="password" class="form-control mb-4" name="password2" placeholder="Confirm Password">

            <input type="submit" class="form-control btn btn-primary" value="Register"/>

            </form>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock content %}
